<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <title>Flask Starter</title>
</head>

<body>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div>
        </div>
        <div>©
            <script>document.write(new Date().getFullYear())</script>. All rights reserved.</div>
    </footer>
    </div>
</body>

</html>